{% load static %}
<header>
    {% comment %}
    <!-- Navbar -->
    {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% comment %}
        <!-- Container wrapper -->
        {% endcomment %}
        <div class="container-fluid">
            {% comment %}
            <!-- Toggle button -->
            {% endcomment %}
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            {% comment %}
            <!-- Collapsible wrapper -->
            {% endcomment %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% comment %}
                <!-- Navbar brand -->
                {% endcomment %}
                <a class="navbar-brand mt-2 mt-lg-0" href="/" id="logo">
                    <i class="fa-solid fa-house"></i>
                </a>
                {% comment %}
                <!-- Left links -->
                {% endcomment %}

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 breadcrumb">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>



                    {% with curr_url=request.path %}

                    {% if curr_url == '/encyclopedia' %}
                    <li class="breadcrumb-item nav-link"><a href="{% url 'index' %}"> | Home</a></li>
                    <li class="breadcrumb-item nav-link"><a href="{% url 'projects' %}">Projects</a></li>
                    <li class="breadcrumb-item active nav-link" aria-current="page">Encyclopedia Galactica</li>
                    {% elif curr_url == '/projects' %}
                    <li class="breadcrumb-item nav-link"><a href="{% url 'index' %}"> | Home</a></li>
                    <li class="breadcrumb-item nav-link active" aria-current="page"><a href="{% url 'projects' %}">Projects</a></li>
                    {% elif curr_url == '/quiz' %}
                    <li class="breadcrumb-item nav-link"><a href="{% url 'index' %}"> | Home</a></li>
                    <li class="breadcrumb-item nav-link"><a href="{% url 'projects' %}">Projects</a></li>
                    <li class="breadcrumb-item active nav-link" aria-current="page">Quiz Master</li>
                    {% elif curr_url == '/pirate_island' %}
                    <li class="breadcrumb-item nav-link"><a href="{% url 'index' %}"> | Home</a></li>
                    <li class="breadcrumb-item nav-link"><a href="{% url 'projects' %}">Projects</a></li>
                    <li class="breadcrumb-item active nav-link" aria-current="page">Pirate Island</li>
                    {% elif curr_url == '/retro' %}
                    <li class="breadcrumb-item nav-link"><a href="{% url 'index' %}"> | Home</a></li>
                    <li class="breadcrumb-item nav-link"><a href="{% url 'projects' %}">Projects</a></li>
                    <li class="breadcrumb-item active nav-link" aria-current="page">RetroLovers United</li>
                    {% elif curr_url == '/synth' %}
                    <li class="breadcrumb-item nav-link"><a href="{% url 'index' %}"> | Home</a></li>
                    <li class="breadcrumb-item nav-link"><a href="{% url 'projects' %}">Projects</a></li>
                    <li class="breadcrumb-item active nav-link" aria-current="page">#synth.nu</li>
                    {% elif curr_url == '/portfolio' %}
                    <li class="breadcrumb-item nav-link"><a href="{% url 'index' %}"> | Home</a></li>
                    <li class="breadcrumb-item nav-link"><a href="{% url 'projects' %}">Projects</a></li>
                    <li class="breadcrumb-item active nav-link" aria-current="page">Portfolio</li>
                    {% endif %}
                    {% endwith %}


                </ul>


                {% comment %}
                <!-- End Left links -->
                {% endcomment %}
                <i class="flag flag-uk"></i>
                <i class="flag flag-se"></i>
            </div>
        </div>
        {% comment %}
        <!-- end Container wrapper -->
        {% endcomment %}
    </nav>
    {% comment %}
    <!-- end Navbar -->
    {% endcomment %}
</header>
