{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h1>About</h1>
        </div>
    </div>
    <img src="{% static 'images/hacker.png' %}" class="d-block" alt="Hacker Laptop" width="571" height="393">
    <div id="bg-image">
        <p><br />Systemadministrator by day, hacker by night</p>
        <p>Okay, hacker might be "a bit" of a stretch but I enjoy the whole process of going from idea to "final" product even
        though it can be frustrating at times when the errors that inevitably creeps in seems to mock me, but rewarding in
        a strange kind of way.</p>
        <p>
            I am an IT-consultant by trade, but my day-to-day work does not involve much coding (some powershell scripting though) 
            so it's fun to do something other than that as well.
        </p>
        <p>Of course, it is still IT-related. What can I say? I'm a computer geek by <i class="fa-solid fa-heart"></i> heart.</p>
       
    </div>
    {% comment%}
    <!--<div id="box">
        <p>test</p>
    </div>-->
    {% endcomment %}
</div>




 {% endblock content %}