{% extends "base.html" %}
{% load static %}
{% block title %}Encyclopedia Galactica{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h1>Encyclopedia Galactica</h1>
        </div>
        <img src="{% static 'images/encyclopedia.png' %}" class="d-block w-100 border border-dashed rounded-5" alt="Encyclopedia Galactica" />
        <p>&nbsp;</p>
        <div id="bg-image">
        <p><br />This was the first project for the Code Institute course. It consists of nothing but html and css.</p>
        <p>I chose this subject since Dr Asimov is easily my favorite sci-fi author.</p>
        <p>As the first project, it is not perfect. There are things that I would do differently in retrospect but overall I am
            decently satisfied with the result considering I had not touched html and css in years before doing this.
            </p>
        <ul>
            <li>The color contrasts could be a lot better.</li>
            <li>The timeline page is a bit heavy and could do with some splitting up.</li>
            <li>The inline video works, but could use some work.</li>
            <li>Removing the scroll-bars so it does not like the old frames-tag would be good too.</li>
            <li>Not to mention, the color scheme on the "popup" you get in the upper-right corner on lower resolutions is not ideal.</li>
        </ul>
            </div>
        <p>&nbsp;</p>
        <a href="https://jonthorell.github.io/encyclopedia-galactica/" target="_blank">Encyclopedia Galactica, Live site</a>
        
    </div>
</div>

 {% endblock content %}