{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <p>Welcome to my portfolio!</p>
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/encyclopedia.png' %}" class="d-block w-100" alt="Encyclopedia Galactica" />
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/quiz.png' %}" class="d-block w-100" alt="Quiz Master" />
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/pirate_island.png' %}" class="d-block w-100" alt="Pirate Island" />
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/retro.png' %}" class="d-block w-100" alt="RetroLovers United" />
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/synth.png' %}" class="d-block w-100" alt="#synth.nu" />
                </div>
            </div>
        </div>
    </div>
</div>

 {% endblock content %}