{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h1>Welcome to my development portfolio</h1>
            <p>The projects (as of now) were developed during a full-stack development course, offered by</p>
            <div class="justify-content-center">
                <img src="{% static 'images/ci-logo.png' %}" alt="Code Institute" width="320" height="132" />
                <p> <br />Other projects will be added as they are developed.</p>
                <p>I have some ideas of what to do, some pretty basic. Others will task my new developers brain to the limit.</p>
                </div>
               <p>&nbsp;</p>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/encyclopedia.png' %}" class="d-block w-100 border border-dashed rounded-5" alt="Encyclopedia Galactica" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/quiz.png' %}" class="d-block w-100 border border-dashed rounded-5" alt="Quiz Master" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/pirate_island.png' %}" class="d-block w-100 border border-dashed rounded-5" alt="Pirate Island" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/retro.png' %}" class="d-block w-100 border border-dashed rounded-5" alt="RetroLovers United" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/synth.png' %}" class="d-block w-100 border border-dashed rounded-5" alt="#synth.nu" />
                    </div>
                </div>
            </div>
        </div>
</div>

 {% endblock content %}