{% extends "base.html" %}
{% load static %}
{% block title %}Pirate Island{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h1>Pirate Island</h1>
        </div>
        <img src="{% static 'images/pirate_island.png' %}" class="d-block w-100" alt="Pirate Island" />
        <p>&nbsp;</p>
        <div id="bg-image">
            <p>
                <br />This was the third project for the Code Institute course. For those that grew up with games from Infocom or Level9,
                it should be no surprise what this is.
            </p>
            <p>For everyone else, it is a game that consists entirely of text and you control it by typing in commands such as "Go West",
            "Open Chest" and so on. The objective for such games is to get around all the obstacles in your way to get to the end scene.</p>
            <p>It is called 'Interactive Fiction' for a reason.</p>
            <p>
                The game is written entirely in python, with no external dependencies apart from python itself.

            <p>
                Note: some names and ideas were stolen from the Monkey Island series of games. They are not textbased, but otherwise
                the same ideas apply.
            </p>

        </div>
        <p>&nbsp;</p>
        <a href="https://pirate-island.herokuapp.com/" target="_blank">Pirate Island, Live site</a>
        <br>
    </div>
</div>

 {% endblock content %}