{% extends "base.html" %}
{% load static %}
{% block title %}Portfolio{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h1>Portfolio</h1>
        </div>
        <img src="{% static 'images/portfolio.png' %}" class="d-block w-100 border border-dashed rounded-5" alt="Portfolio" />
        <p>&nbsp;</p>
        <div id="bg-image">
            <p>
                <br />This was created when the Code Institute course was finished. Basically, just a very simple site to "collect" all the
                work done during that course.
            </p>
            <p>
                As in project 4 and 5, it combines html, css, javascript, and django to provide a seamless site. 
                In this case images, css-files, and other necessary files are stored using django's whitenoise module. Mostly because
                users can not upload images themselves so every file can be considered essentially static in nature.
            </p>
            <p>Also, this is the first project that uses Django5. Django5 is not really necessary for this project, but since it is
            available, why not?</p>


        </div>
        <p>&nbsp;</p>
        <a href="https://portfolio-jt-5c98fa083d10.herokuapp.com/" target="_blank">Portfolio, Live Site</a>
        <br>
    </div>
</div>

 {% endblock content %}