{% extends "base.html" %}
{% load static %}
{% block title %}Projects{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h1>Projects</h1>
            <p>The projects I've developed, some better than others. You will notice a theme here...the projects
            reflects my interests (apart from the IT stuff that is), science fiction, books, music, quizzes, and
            retro computers. 
            </p>
        </div>
        <table class="table align-middle mb-0 bg-grey table-responsive">
            <thead class="bg-light">
                <tr>
                    <th>Project</th>
                    <th>Description</th>
                    <th>GitHub Link</th>
                </tr>
            </thead>
            <tbody class="background">
                <tr>
                    <td>
                        <a href="{% url 'encyclopedia' %}">Encyclopedia Galactica</a>
                    </td>
                    <td>
                        A tribute to Isaac Asimov. Written in pure HTML and CSS.
                    </td>
                    <td>
                        <a href="https://github.com/jonthorell/encyclopedia-galactica" target="_blank">Github: Encyclopedia Galactica</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'quiz' %}">Quiz Master</a>
                    </td>
                    <td>
                        A music quiz. Some html and css, but mostly javascript.
                    </td>
                    <td>
                        <a href="https://github.com/jonthorell/QuizGame" target="_blank">GitHub: QuizMaster</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'pirate_island' %}">Pirate Island</a>
                    </td>
                    <td>
                        A miniature text-adventure game, written in pure Python.
                    </td>
                    <td>
                        <a href="https://github.com/jonthorell/PirateIsland" target="_blank">GitHub: Pirate Island</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'retro' %}">RetroLovers United</a>
                    </td>
                    <td>
                        A full-stack (Django, html, css, javascript, python) community site for people that love the Commodore Amiga line of computers.
                    </td>
                    <td>
                        <a href="https://github.com/jonthorell/RetroLoversUnited" target="_blank">GitHub: RetroLovers United</a>
                        <br />Note: Some css-classes are missing. This app uses the commercial license of mdbootstrap that I am not legally allowed to distribute.
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'synth' %}">#Synth.nu</a>
                    </td>
                    <td>
                        A full-stack (Django, html, css, javascript, python) e-commerce site that "sells" synth-music on vinyl.
                    </td>
                    <td>
                        <a href="https://github.com/jonthorell/synth-nu-vinyl-store" target="_blank">GitHub: #Synth.nu</a>
                        <br />Note: Some css-classes are missing. This app uses the commercial license of mdbootstrap that I am not legally allowed to distribute.
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'portfolio' %}">Portfolio</a>
                    </td>
                    <td>
                        This site. A simple "frontend" written using Django5 to showcase my projects.
                    </td>
                    <td>
                        <a href="https://github.com/jonthorell/portfolio" target="_blank">GitHub: Portfolio</a>
                        <br />Note: Some css-classes are missing. This app uses the commercial license of mdbootstrap that I am not legally allowed to distribute.

                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>

 {% endblock content %}