{% extends "base.html" %}
{% load static %}
{% block title %}Music Quiz{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h1>Music Quiz</h1>
        </div>
        <img src="{% static 'images/quiz.png' %}" class="d-block w-100 border border-dashed rounded-5" alt="Quiz Master" />
        <p>&nbsp;</p>
        <div id="bg-image">
            <p><br />This was the second project for the Code Institute course. It is essentially a quiz game to determine
            if you have any musical taste <i class="fa-regular fa-face-smile-wink"></i></p>
            <p>The game is written entirely in javascript. There are, of couse, some html and css involved as well but that is
            "merely" to make it look good (in the case of css) and to give the javascript a DOM to manipulate (in the case of html) to provide
            feedback to the user.</p>
            <p>All game logic takes place in the javascript file.</p>
            
            <p>
                People from Sweden might think it looks familiar. It was not intentionally, but some of the user interface does look like
                the mobile game "Quizkampen". But without the ability to compete against someone else. This is a one-player game only.
            </p>
            
        </div>
        <p>&nbsp;</p>
        <a href="https://jonthorell.github.io/QuizGame/" target="_blank">Quiz Master, Live site</a>
        <br>
    </div>
</div>

 {% endblock content %}