{% extends "base.html" %}
{% load static %}
{% block title %}RetroLovers United{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h1>RetroLovers United</h1>
        </div>
        <img src="{% static 'images/retro.png' %}" class="d-block w-100 border border-dashed rounded-5" alt="RetroLovers United" />
        <p>&nbsp;</p>
        <div id="bg-image">
            <p>
                <br />This was the fourth project for the Code Institute course, and the first one that can be considered full-stack.
            </p>
            <p>
                It combines html, css, javascript, django, and postgresSQL to provide a community site for the subject at hand.
                Images, css-files, and other necessary files are stored at cloudinary.
            </p>
            <p>Of course, if you are not interested in the subject (the venerable Amiga-line of computers) you will probably not find
            the content engaging.</p>
            

        </div>
        <p>&nbsp;</p>
        <a href="https://retroloversunited.herokuapp.com/" target="_blank">RetroLovers United, Live Site</a>
        <br>
    </div>
</div>

 {% endblock content %}