{% extends "base.html" %}
{% load static %}
{% block title %}Synth.nu{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h1>#Synth.nu</h1>
        </div>
        <img src="{% static 'images/synth.png' %}" class="d-block w-100" alt="#Synth.nu" />
        <p>&nbsp;</p>
        <div id="bg-image">
            <p>
                <br />This was the fifth and final project for the Code Institute course. It is very similar to the fourth project,
                except that it also adds credit card payments into the mix.
            </p>
            <p>
                It combines html, css, javascript, django, and postgresSQL to provide an e-commerce site for vinyl-records and especially
                records belonging to the synth genre.
                Images, css-files, and other necessary files are stored at AWS.
            </p>


        </div>
        <p>&nbsp;</p>
        <a href="https://synth-vinyls-e3c70f9ba271.herokuapp.com/" target="_blank">#Synth.nu, Live Site</a>
        <br>
    </div>
</div>

 {% endblock content %}