<div class="toast alert fade show"
     id="alert-info"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     data-mdb-toast-init
     data-mdb-autohide="true"
     data-mdb-delay="500"
     data-mdb-position="top-center"
     data-mdb-append-to-body="false"
     data-mdb-stacking="true"
     data-mdb-width="350px"
     data-mdb-color="info">
    
    <div class="toast-header">
        <strong class="me-auto"><i class="fa-solid fa-circle-info"></i> Information</strong>
        <small>E-mail sent</small>
        <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Thank you. I will get back to you as soon as possible.</div>
</div>